body {
  background-image: url("images/arkaplan.png");
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boy {
  display: flex;
  margin: 100px 0 -140px 90px;
  padding: 0;
}

@-webkit-keyframes whell {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes whell {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wheel-l {
  margin-left: 64px;
  -webkit-animation: whell 4s linear infinite;
  animation: whell 4s linear infinite;
}
.wheel-r {
  margin-left: 134px;
  -webkit-animation: whell 4s linear infinite;
  animation: whell 4s linear infinite;
}

@-webkit-keyframes baloon {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-800px);
  }
}

@keyframes baloon {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-800px);
  }
}

.baloons {
  margin: 15px 80px 30px -100px;
  animation-name: baloon;
  animation-delay: 4s;
  animation-duration: 6s;
  animation-fill-mode: forwards;

}

.green {
  position: relative;
}
